{% extends 'base.html' %}
{% load static %}
{% block title %}Get Password Reset Instructions{% endblock %}

{% block css %}
<style>
    .btn:focus {
        box-shadow: none;
    }

    .errorlist {
        padding-left: 0;
        margin-bottom: 0;
    }

    .errorlist li {
        list-style: none;
        color: red;
        font-size: 12px;
    }

    .form-control:focus {
        border: 2px solid #51b4a9 !important;
        box-shadow: none
    }

    .form-control {
        border: 2px solid #ced4da
    }
</style>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card py-5 ps-5 pe-5">
                    <p class="fs-3 text-center">Get Password Reset Instructions</p>
                    <form action="{% url 'passReste' %}" method="POST" novalidate
                        {% if form.errors %}class="was-validated" {% endif %}>
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        {% if messages %}
                        {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            <p class="text-center">
                                {{ message }}
                            </p>
                        </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}.
                        <div class="alert alert-danger" role="alert">
                            <p class="text-center">
                                {{ message }}
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="floatingInput">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn immu-btn text-uppercase">Get instructions</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}