{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block css %}
<style>
    .btn:focus {
        box-shadow: none;
    }

    .errorlist {
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 25px;
    }

    .errorlist li {
        list-style: none;
        color: red;
        font-size: 12px;
    }

    .form-control:focus {
        border: 2px solid #51b4a9 !important;
        box-shadow: none
    }

    .form-control {
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 30px;
        margin-left: 20px;
        padding-left: 20px!important;
    }

    form .fs-5.text-center.mb-5{
        color: #51b4a9;
    }

    .users-card {
        background: #FFFFFF;
        box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .form-floating>label {
        left: 10px!important;
    }
    .form-floating>input {
        margin-left: 0;
    }
</style>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card users-card py-5 ps-5 pe-5">
                    <form action="{% url 'password_reset_confirm' uidb64=uidb token=token %}" method="POST" novalidate
                        {% if form.errors %}class="was-validated" {% endif %}>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        
                        <p class="fs-5 text-center mb-5">Reset Password</p>

                        <div class="form-floating mb-3">
                            {{ form.password }}
                            <label for="floatingInput">{{ form.password.label }}</label>
                            {{ form.password.errors }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.confirmPassword }}
                            <label for="floatingInput">{{ form.confirmPassword.label }}</label>
                            {{ form.confirmPassword.errors }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn immu-btn text-uppercase">reset password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}