{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrapcss/bootstrap.min.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Other CSS -->
    {% block css %}{% endblock %}

    <!-- title and Favicon Icon -->
    <title>IMMI | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

</head>

<body>
    <header class="py-1">
        <div class="container">
            <nav class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="{% url 'home' %}" class="text-decoration-none">
                        <img src="{% static 'img/immi-logo.svg' %}" alt="Main Logo">
                    </a>
                </div>

                {% if user.is_authenticated %}
                <div class="dashboard-menu">
                    <ul class="d-flex justify-content-between align-items-center">

                        <a href="{% url 'forum' %}">
                            <li
                                class="{% if request.resolver_match.url_name == 'forum' %}dashboard-menu-active{% endif %}">
                                Forum</li>
                        </a>
                        
                        {% if user.userinfo.user_type != 'Current Student' %}
                        <a href="{% url 'task' %}">
                            <li
                                class="{% if request.resolver_match.url_name == 'task' %}dashboard-menu-active{% endif %}">
                                Task</li>
                        </a>
                        {% endif %}

                        <a href="{% url 'immigration' %}">
                            <li
                                class="{% if request.resolver_match.url_name == 'immigration' %}dashboard-menu-active{% endif %}">
                                Immigration</li>
                        </a>
                        <a href="{% url 'accommodation' %}">
                            <li
                                class="{% if request.resolver_match.url_name == 'accommodation' %}dashboard-menu-active{% endif %}">
                                Accommodation</li>
                        </a>
                    </ul>
                </div>
                {% endif %}

                <div class="menu">
                    <ul class="d-flex justify-content-between align-items-center">
                        {% if user.is_authenticated %}
                        <div class="dropdown dashboard-menu">
                            <a class="btn dropdown-toggle d-flex align-items-center p-0" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="menu-profile-pic me-3">
                                    <img src="{{ user.userinfo.profilepic.url }}" alt="">
                                </div>
                                {{ user.first_name }} {{ user.last_name }}
                            </a>

                            <ul class="dropdown-menu user-profile-dropdown" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}dashboard-menu-active{% endif %}"
                                        href="{% url 'profile' %}">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if request.resolver_match.url_name == 'change_password' %}dashboard-menu-active{% endif %}"
                                        href="{% url 'change_password' %}">Change Password</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if request.resolver_match.url_name == 'logout' %}dashboard-menu-active{% endif %}"
                                        href="{% url 'logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <a href="{% url 'register' %}" class="btn-user-auth {% if request.resolver_match.url_name == 'register' %} menu-active{% endif %}">
                            <li>Sign Up</li>
                        </a>
                        <a href="{% url 'login' %}" class="ms-3 btn-user-auth {% if request.resolver_match.url_name == 'login' %} menu-active{% endif %}">
                            <li>Sign In</li>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Global Body Start -->
    {% block content %}{% endblock %}
    <!-- Global Body Ends -->

    <!-- Bottom Bar Starts -->
    <section class="bottom-bar">
        <div class="container py-3">
            <p class="text-center mb-0">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>. All rights reserved by
                <a class="text-decoration-none text-white" href="{% url 'home' %}">immi.com</a>
                | Powered by <i class="icon-heart color-danger" aria-hidden="true"></i> <a
                    class="text-decoration-none text-white" href="https://squaretechit.com" target="_blank">Square Tech
                    IT</a>
            </p>
        </div>
    </section>
    <!-- Bottom Bar End -->

    <!-- Optional JavaScript; Bootstrap Bundle with Popper! -->
    <script src="{% static 'js/bootstrapjs/bootstrap.bundle.min.js' %}"></script>

    <!-- Other JS -->
    {% block js %}{% endblock %}
    <script>
        window.addEventListener("DOMContentLoaded", (e) => {
            // Stop Inspect Element
            document.onkeydown = function (o) {
                return 123 != e.keyCode && ((!o.ctrlKey || !o.shiftKey || o.keyCode != "I".charCodeAt(0)) &&
                    ((!o.ctrlKey || !o.shiftKey || o.keyCode != "C".charCodeAt(0)) && ((!o.ctrlKey || !o
                        .shiftKey || o.keyCode != "J".charCodeAt(0)) && ((!o.ctrlKey || o
                        .keyCode != "U".charCodeAt(0)) && void 0))))
            };
        });
    </script>
</body>

</html>