{% extends 'base.html' %}
{% load static %}

{% block title %}{{ current_post.title }}{% endblock %}

{% block css %}
<style>
    #like{
        cursor: pointer;
    }
    .forum-card {
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .post-head-img {
        height: 50px;
        width: 50px;
    }

    .post-head-img img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
</style>
{% endblock %}

{% block content %}
<form action="{% url 'every-single-post' pk=current_post.id slug=current_post.post_url %}" method="POST" novalidate>
    {% csrf_token %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card forum-card py-4 ps-4 pe-4 mt-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="post-head-img">
                                    <img src="{{ current_post.user.userinfo.profilepic.url }}"
                                        alt="{{ current_post.user.username }}">
                                </div>
                                <div class="author-details ms-3">
                                    <p class="mb-0"><small class="text-muted text-capitalize">{{ current_post.user }}</small>
                                    </p>
                                </div>
                            </div>
                            <p class="mb-0"><small class="text-muted">{{ current_post.user.userinfo.user_type }}</small></p>
                            <p class="mb-0"><small class="text-muted">{{ current_post.post_date }}</small></p>
                        </div>
                        <p class="fs-5 my-3">{{ current_post.title }}</p>
                        <p class="card-text text-justify">{{ current_post.post_discription }}</p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="d-flex align-items-center like post-like" id="like">
                                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.24821 25.8199H3.49928C2.83643 25.8199 2.20073 25.5658 1.73202 25.1133C1.26332 24.6608 1 24.0471 1 23.4073V14.9629C1 14.323 1.26332 13.7093 1.73202 13.2568C2.20073 12.8044 2.83643 12.5502 3.49928 12.5502H7.24821M15.9957 10.1375V5.31214C15.9957 4.35231 15.6007 3.4318 14.8977 2.7531C14.1946 2.0744 13.2411 1.69312 12.2468 1.69312L7.24821 12.5502V25.8199H21.3442C21.9469 25.8265 22.5318 25.6226 22.9911 25.2457C23.4504 24.8689 23.7531 24.3445 23.8435 23.7692L25.568 12.9121C25.6223 12.5663 25.5982 12.2132 25.4972 11.8774C25.3961 11.5415 25.2207 11.2308 24.983 10.9669C24.7452 10.703 24.4509 10.4921 24.1203 10.3489C23.7898 10.2057 23.431 10.1335 23.0687 10.1375H15.9957Z"
                                            stroke="#023436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span class="ms-2 mt-2" id="like-count">{{ current_post.total_likes }}</span>
                                </div>
                                <div class="ms-5 d-flex align-items-center comment">
                                    <svg class="mt-2" width="27" height="27" viewBox="0 0 27 27" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19 9.50003C19.0034 10.8199 18.6951 12.1219 18.1 13.3C17.3944 14.7118 16.3098 15.8992 14.9674 16.7293C13.6251 17.5594 12.0782 17.9994 10.5 18C9.18013 18.0035 7.87812 17.6951 6.7 17.1L1 19L2.9 13.3C2.30493 12.1219 1.99656 10.8199 2 9.50003C2.00061 7.92179 2.44061 6.37488 3.27072 5.03258C4.10083 3.69028 5.28825 2.6056 6.7 1.90003C7.87812 1.30496 9.18013 0.996587 10.5 1.00003H11C13.0843 1.11502 15.053 1.99479 16.5291 3.47089C18.0052 4.94699 18.885 6.91568 19 9.00003V9.50003Z"
                                            stroke="#023436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span class="ms-2 mt-2">{{ current_post.forum_comments.count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="container">
            <div class="card forum-card py-5 ps-5 pe-5">
                <p class="mb-0 fs-2">Comments</p>
                <div class="form-floating">
                    <textarea class="form-control" name="user-comments" placeholder="Post Details" style="height:200px"
                        maxlength="1500"></textarea>
                    <label for="floatingTextarea2">Type your comments</label>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %} mb-0"
                        role="alert">
                        <p class="text-center mb-0">
                            {{ message }}
                        </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <span></span>
                    <button class="btn immu-btn" type="submit" name="comments"
                        value="{{ current_post.id }}">Comment</button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <div class="card forum-card py-5 ps-5 pe-5">
                <p class="mb-0 fs-2">{{ current_post.forum_comments.count }} Comments...</p>

                {% for comment in current_post.forum_comments.all %}
                <div class="d-flex justify-content-between mt-5">
                    <div class="comment-pic">
                        <img src="{{ comment.person.userinfo.profilepic.url }}" alt="{{ comment.person.first_name }}">
                    </div>
                    <div class="comment-info">
                        <p class="mb-0 fs-3">{{ comment.person.first_name }} {{ comment.person.last_name }}</p>
                        <small class="text-muted">{{ comment.comment_date }}</small>
                        <p class="mb-0">{{ comment.comment_body }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> -->
</form>
{% endblock %}
{% block js %}
<script>
    document.querySelector('#like').addEventListener('click', function () {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const URL = "{% url 'users_likes' %}";
        let like_count = document.querySelector('#like-count');
        fetch(URL, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'current_post_id': '{{ current_post.id }}',
                    'user_id_wants_like': '{{ user.id }}'
                })
            })
            .then(response => {
                return response.json()
            })
            .then(data => {
                like_count.innerHTML = parseInt(data['results']);
            })
    })
</script>
{% endblock %}